.media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    /* padding: 2px; */
    margin: 5px 0;
    transition: transform 0.3s;
    background-color: #282c34;
    /* height: 400px; */
    position: relative;
  }
  .poster {
    height: 380px;
    margin-top: -5px;
  }
  
  .media:hover {
    transform: scale(1.03);
    z-index: 1;
  }
  
  .row1 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .rating {
    display: flex;
    align-items: center;
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  
  .wishlist {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fcb603;
    cursor: pointer;
  }
  .wishlist:hover {
    background-color: #fca103;
  }
  